<ion-header>
    <ion-toolbar>
        <ion-title>Mitstreiter</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let venturer of venturers">
        <ion-card-header>
            <ion-card-title>
                {{venturer.firstName}} {{venturer.lastName}}
            </ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-chip color="primary" >
                       Gesamt Score: {{venturer.mentalScore+venturer.sportScore+venturer.nutritionScore}}
                    </ion-chip>
                </ion-row>
                <ion-row>
                    <ion-chip>
                        <ion-label color="secondary"><b>Sport-Score: </b></ion-label>
                        <ion-label>{{venturer.sportScore}}</ion-label>
                    </ion-chip>
                </ion-row>
                <ion-row>
                    <ion-chip>
                        <ion-label color="secondary"><b>Ernährungs-Score: </b></ion-label>
                        <ion-label>{{venturer.nutritionScore}}</ion-label>
                    </ion-chip>
                </ion-row>
                <ion-row>
                    <ion-chip>
                        <ion-label color="secondary"><b>Mental-Score: </b></ion-label>
                        <ion-label>{{venturer.mentalScore}}</ion-label>
                    </ion-chip>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

</ion-content>
