<ion-header>
    <ion-toolbar>
        <ion-title>Erstelle eine Challenge</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card>
        <ion-card-content>
            <ion-item>
                <ion-label position="floating">Titel</ion-label>
                <ion-input [(ngModel)]="title"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Beschreibung</ion-label>
                <ion-input required="true"
                           [(ngModel)]="description"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Sport Score</ion-label>
                <ion-range min="0" max="50" color="danger" pin="true" [(ngModel)]="spoScore"
                           (ionChange)="valueChanged()">
                    <ion-icon size="small" slot="start" name="paper-plane" color="primary"></ion-icon>
                    <ion-icon slot="end" name="airplane" color="secondary"></ion-icon>
                </ion-range>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Mental Score</ion-label>
                <ion-range min="0" max="50" color="danger" pin="true" [(ngModel)]="menScore"
                           (ionChange)="valueChanged()">
                    <ion-icon size="small" slot="start" name="rainy" color="primary"></ion-icon>
                    <ion-icon slot="end" name="sunny" color="secondary"></ion-icon>
                </ion-range>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Nutritional Score</ion-label>
                <ion-range min="0" max="50" color="danger" pin="true" [(ngModel)]="nutScore"
                           (ionChange)="valueChanged()">
                    <ion-icon size="small" slot="start" name="trash" color="primary"></ion-icon>
                    <ion-icon slot="end" name="pizza" color="secondary"></ion-icon>
                </ion-range>
            </ion-item>
            <ion-chip color="secondary">
                <ion-icon name="heart" ></ion-icon>
                <ion-label>Gesamt Score: {{gesamtScore}}</ion-label>
            </ion-chip>

            <!-- Checkboxes in a List -->
            <ion-list>
                <ion-list-header>
                    Kategorien
                </ion-list-header>
                <ion-item *ngFor="let entry of tagsFromAPI">
                    <ion-label>{{entry.tag.tagName}}</ion-label>
                    <ion-checkbox slot="end" [(ngModel)]="entry.isChecked" color="secondary"></ion-checkbox>
                </ion-item>
            </ion-list>

            <ion-button (click)="sendCreateChallengeRequest()" expand="full">
                <ion-icon name="planet"></ion-icon>
                Einreichen
                <ion-icon name="planet"></ion-icon>
            </ion-button>
        </ion-card-content>
    </ion-card>


</ion-content>
