<ion-header>
    <ion-toolbar>
        <ion-title>Offene Aufgaben</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card *ngFor="let task of tasks">
        <ion-card-header>
            <ion-card-title>{{task.challenge.title}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-grid>
                <ion-row>{{task.challenge.description}}</ion-row>
                <ion-row>
                    <ion-chip color="secondary">
                        <ion-icon name="bicycle"></ion-icon>
                        <ion-label>{{task.challenge.sportPoints}}</ion-label>
                    </ion-chip>
                    <ion-chip color="secondary">
                        <ion-icon name="pulse"></ion-icon>
                        <ion-label>{{task.challenge.mentalPoints}}</ion-label>
                    </ion-chip>
                    <ion-chip color="secondary">
                        <ion-icon name="restaurant"></ion-icon>
                        <ion-label>{{task.challenge.nutritionPoints}}</ion-label>
                    </ion-chip>
                </ion-row>
                <ion-row>
                    <ion-label>Angenommen am {{toDate(task.accepted)}}</ion-label>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button fill="outline" (click)="done(task)">Done!</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button fill="outline" color="danger" (click)="failed(task)">Failed!</ion-button>
                    </ion-col>

                </ion-row>
            </ion-grid>

        </ion-card-content>
    </ion-card>
</ion-content>
