<ion-app>
    <ion-menu side="start" menuId="first">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-title>Menü</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-item routerLink="/tabs/profile">
                    <ion-icon name="contact" color="secondary"></ion-icon>
                    <h3>Profil</h3>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-header>
        <ion-toolbar color="secondary">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-button (click)="openFirst()" size="default">
                            <ion-icon name="menu"></ion-icon>
                        </ion-button>
                    </ion-col>
                    <ion-col>
                        <p>
                            Challenge Box
                        </p>
                    </ion-col>
                    <ion-col align="right">
                        <ion-button (click)="logout()" size="default">
                            <ion-icon name="power"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>


        </ion-toolbar>
    </ion-header>
    <ion-router-outlet main></ion-router-outlet>
</ion-app>
