<ion-header>
    <ion-toolbar>
        <ion-title>Challenge annehmen</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <!-- Checkboxes in a List -->
    <ion-card>
        <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let entry of tagsFromAPI">
                    <ion-label>{{entry.tag.tagName}}</ion-label>
                    <ion-checkbox slot="end" [(ngModel)]="entry.isChecked" color="secondary"></ion-checkbox>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>


    <ion-button (click)="sendPreferences()" expand="full">
        <ion-icon name="rocket"></ion-icon>
        Leg Los
        <ion-icon name="rocket"></ion-icon>
    </ion-button>


    <ion-card *ngFor="let c of challenges">
        <ion-item>
            <ion-icon name="ribbon" slot="start"></ion-icon>
            <ion-label>{{c.title}}</ion-label>
            <ion-button fill="outline" slot="end" (click)="accept(c)" color="secondary">Accept!</ion-button>
        </ion-item>

        <ion-card-content>
            {{c.description}}
        </ion-card-content>
    </ion-card>

</ion-content>
