<ion-header>
    <ion-toolbar>
        <ion-title>Profil</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-card-title>
                Infos
            </ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-item>
                <ion-label>
                    <b>Name</b>
                </ion-label>
                <ion-label>{{venturer.firstName}} {{venturer.lastName}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <b>E-Mail</b>
                </ion-label>
                <ion-label>
                    {{venturer.email}}
                </ion-label>
            </ion-item>

            <canvas id="myChart" width="400" height="400"></canvas>
            <ion-chip>
                <ion-label><b>Sport-Score: </b></ion-label>
                <ion-label>{{venturer.sportScore}}</ion-label>
            </ion-chip>
            <ion-chip>
                <ion-label><b>Ernährungs-Score: </b></ion-label>
                <ion-label>{{venturer.nutritionScore}}</ion-label>
            </ion-chip>
            <ion-chip>
                <ion-label><b>Mental-Score: </b></ion-label>
                <ion-label>{{venturer.mentalScore}}</ion-label>
            </ion-chip>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Tasks</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list *ngFor="let taskList of sortedTasks; let i = index">
                <ion-list-header>{{i == 0 ? "Offene Tasks" : i == 1 ? "Abgeschlossene Tasks" : "Failed Tasks"}}</ion-list-header>
                <ion-item *ngFor="let task of taskList">
                    <ion-grid>
                        <ion-row>
                            <ion-label><b>{{task.challenge.title}}</b></ion-label>
                        </ion-row>
                        <ion-row>
                            <p>
                                {{task.challenge.description}}
                            </p>
                        </ion-row>
                        <ion-row>
                            <ion-badge color="primary">angenommen am: {{toDate(task.accepted)}}</ion-badge>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
