<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Profil</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-item>
                <ion-label>
                    <b>Name</b>
                </ion-label>
                <ion-label>{{venturer.firstName}} {{venturer.lastName}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <b>E-Mail</b>
                </ion-label>
                <ion-label>
                    {{venturer.email}}
                </ion-label>
            </ion-item>

            <canvas id="myChart" width="400" height="400"></canvas>
            <ion-chip>
                <ion-label><b>Sport-Score: </b></ion-label>
                <ion-label>{{venturer.sportScore}}</ion-label>
            </ion-chip>
            <ion-chip>
                <ion-label><b>Ernährungs-Score: </b></ion-label>
                <ion-label>{{venturer.nutritionScore}}</ion-label>
            </ion-chip>
            <ion-chip>
                <ion-label><b>Menatl-Score: </b></ion-label>
                <ion-label>{{venturer.mentalScore}}</ion-label>
            </ion-chip>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Tasks</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list *ngFor="let taskList of sortedTasks; let i = index">
                <ion-label>{{i == 0 ? "Offene Tasks" : i == 1 ? "Abgeschlossene Tasks" : "Failed Tasks"}}</ion-label>
                <ion-item *ngFor="let task of taskList" text-wrap>
                    <ion-label>{{task.challenge.title}} <br> {{task.challenge.description}} <br> <ion-badge color="primary">accepted: {{task.accepted}}</ion-badge> </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
