<ion-header>
    <ion-toolbar>
        <ion-title>
            Challenge Overview
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button routerLink="/tabs/claim-challenge" expand="full">
        <ion-icon name="rocket"></ion-icon>
        Ich brauch mehr Herausforderungen
        <ion-icon name="rocket"></ion-icon>
    </ion-button>
    <ion-button routerLink="/tabs/create-challenge" expand="full">
        <ion-icon name="planet"></ion-icon>
        Ich möchte beitragen
        <ion-icon name="planet"></ion-icon>
    </ion-button>
</ion-content>
